.addgameComponent {
  color: white;
  border: 1px solid black;
  left: 0;
}

.fields {
  position: absolute;
  top: 15%;
}
.formAddGame {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
