.userListGame {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.game {
  background-color: hsl(0, 37%, 48%);
  border-radius: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  margin: 1rem;
  overflow: hidden;
  /* position: relative; */
  width: 30rem;
  min-height: 20rem;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  transform: translateX(-400%);
  transition: transform 0.4s ease;
}

.game:nth-of-type(even) {
  transform: translateX(400%);
}

.game.show {
  transform: translateX(0);
}

.game img {
  max-width: 100%;
}

.game-info {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game-info h3 {
  box-shadow: none;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.game-info span {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  padding: 0.5rem;
}

.game-over {
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  max-height: 100%;
  overflow: auto;
  padding: 1rem;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  text-align: justify;
  transform: translateY(105%);
  transition: transform 0.3s ease-in-out;
}

.game:hover .game-over {
  transform: translateY(0);
}

.gameList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
}

.cardsGamesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
